body{
		background: #F1F1F1 !important;
	}
	.login-wrapper{
	}
	.login-wrapper h3{
		background: none repeat scroll 0 0 #2980b9;
		color: #fff;
		display: block;
		font-weight: 300;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 50px;
		text-align: center;
		text-transform: uppercase;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.login-wrapper label {
		font-weight: 300;
	}
	.login-wrapper-content{
		background: #fff;
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
		padding: 10px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
		-webkit-border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.btn-default {
		background: none repeat scroll 0 0 #3498db;
		border-color: #2980b9;
		text-shadow: none;
		border-radius: 3px;
	}